/* ----------------------------------------------
          Site Specific Globals
------------------------------------------------- */

body {
  color: #CCCCCC;
  background-color: #111111;
}

.section {
  width: 700px;
  margin: 0 auto;
}

.center {
  margin: 0 auto;
}

table {
  width: 100%;
}

div.button, input.button {
  color: #999;
}

div.button:hover {
  color: #ffcc33;
}

/* ----------------------------------------------
          Search Window
------------------------------------------------- */

.banner {
  background-image: url(../images/banner.jpg);
  height: 150px;
  width: 1280px;
  margin: 0 auto;
}

.searchbar {
  width: 650px;
  padding-top: 25px;
  padding-left: 50px;
}

.searchbar input[type="text"] {
  height: 26px;
  background-color: #555;
  margin-right: 20px;
}

.searchbar form {
  width: 100%;
}

.search-results {
  width: 700px;
}

/* ----------------------------------------------
          Menu Window
------------------------------------------------- */

.menu {
  width: 185px;
  height: 425px;
  float: left;
  padding-right: 15px;
}

div.button {
  width: 100%;
}

/* ----------------------------------------------
          Character Header Window
------------------------------------------------- */

.char {
  height: 87px;
  width: 690px;
  padding: 10px;
}

/* ----------------------------------------------
          Inventory Window
------------------------------------------------- */

.inv {
  width: 200px;
  height: 425px;
  float: left;
  position: relative;
}

/* for item icons in inventory */
.Slot {
  height: 40px;
  width: 40px;
  border: 0px ;
  margin: 0;
  padding: 0;
  position: absolute;
  display: block;
}

/* ----------------------------------------------
          Bank Window
------------------------------------------------- */

/* ----------------------------------------------
          Bag Window
------------------------------------------------- */

.bags {
  width: 300px;
  height: 425px;
  float: left;
  position: relative;
}

.bags-bank {
  width: 300px;
  height: 180px;
  float: left;
  top: 0;
  position: relative;
}

.bags-inv {
  width: 90px;
  height: 235px;
  float: left;
  top: 0;
  position: relative;
}

.bags-viewer {
  width: 90px;
  height: 235px;
  float: left;
  top: 0;
  position: relative;
}

.bag {
  width: 90px;
  height: 235px;
  float: left;
  top: 0;
  position: relative;
  display: none;
}

/* ----------------------------------------------
          AAs and Flags Window
------------------------------------------------- */

.viewer {
  width: 700px;
  position: relative;
  margin: 0 auto;
}

#aas, #stats, #focuseffects, #worneffects, #flags, #skills, #skillmods {
  width: 550px;
  margin: 0 auto;
}

.title {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  
}

/* ----------------------------------------------
          Item Window
------------------------------------------------- */

.item {
  width: 450px;
  position: relative;
  margin: 0 auto;
}

.icon {
  float: left;
}

span.text-right {
  text-align: right;
}

span.heroic {
  color: #ffcc33;
}

/* ----------------------------------------------
         locations for bag slots
------------------------------------------------- */

.bagslotloc1 {
  top: 0px;
  left: 0px;
}
.bagslotloc2 {
  top: 0px;
  left: 43px;
}
.bagslotloc3 {
  top: 43px;
  left: 0px;
}
.bagslotloc4 {
  top: 43px;
  left: 43px;
}
.bagslotloc5 {
  top: 86px;
  left: 0px;
}
.bagslotloc6 {
  top: 86px;
  left: 43px;
}
.bagslotloc7 {
  top: 129px;
  left: 0px;
}
.bagslotloc8 {
  top: 129px;
  left: 43px;
}
.bagslotloc9 {
  top: 172px;
  left: 0px;
}
.bagslotloc10 {
  top: 172px;
  left: 43px;
}

/* ----------------------------------------------
         locations for inventory slots
------------------------------------------------- */

.slotloc1 {
  top: 0px;
  left: 0;
}
.slotloc2 {
  top: 0px;
  left: 43px;
}
.slotloc3 {
  top: 0px;
  left: 86px;
}
.slotloc4 {
  top: 0px;
  left: 129px;
}
.slotloc17 {
  top: 43px;
  left: 0;
}
.slotloc5 {
  top: 43px;
  left: 129px;
}
.slotloc7 {
  top: 86px;
  left: 0;
}
.slotloc8 {
  top: 86px;
  left: 129px;
}
.slotloc20 {
  top: 129px;
  left: 0;
}
.slotloc6 {
  top: 129px;
  left: 129px;
}
.slotloc9 {
  top: 172px;
  left: 0;
}
.slotloc10 {
  top: 172px;
  left: 129px;
}
.slotloc18 {
  top: 215px;
  left: 0;
}
.slotloc12 {
  top: 215px;
  left: 43px;
}
.slotloc0 {
  top: 215px;
  left: 86px;
}
.slotloc19 {
  top: 215px;
  left: 129px;
}
.slotloc15 {
  top: 258px;
  left: 43px;
}
.slotloc16 {
  top: 258px;
  left: 86px;
}
.slotloc13 {
  top: 301px;
  left: 0;
}
.slotloc14 {
  top: 301px;
  left: 43px;
}
.slotloc11 {
  top: 301px;
  left: 86px;
}
.slotloc21 {
  top: 301px;
  left: 129px;
}
.slotloc22 {
  top: 0px;
  left: 0px;
}
.slotloc23 {
  top: 43px;
  left: 0px;
}
.slotloc24 {
  top: 86px;
  left: 0px;
}
.slotloc25 {
  top: 129px;
  left: 0px;
}
.slotloc26 {
  top: 0px;
  left: 43px;
}
.slotloc27 {
  top: 43px;
  left: 43px;
}
.slotloc28 {
  top: 86px;
  left: 43px;
}
.slotloc29 {
  top: 129px;
  left: 43px;
}
.slotloc2000 {
  top: 0;
  left: 0px;
}
.slotloc2001 {
  top: 43px;
  left: 0px;
}
.slotloc2002 {
  top: 86px;
  left: 0px;
}
.slotloc2003 {
  top: 129px;
  left: 0px;
}
.slotloc2004 {
  top: 0;
  left: 43px;
}
.slotloc2005 {
  top: 43px;
  left: 43px;
}
.slotloc2006 {
  top: 86px;
  left: 43px;
}
.slotloc2007 {
  top: 129px;
  left: 43px;
}
.slotloc2008 {
  top: 0;
  left: 86px;
}
.slotloc2009 {
  top: 43px;
  left: 86px;
}
.slotloc2010 {
  top: 86px;
  left: 86px;
}
.slotloc2011 {
  top: 129px;
  left: 86px;
}
.slotloc2012 {
  top: 0;
  left: 129px;
}
.slotloc2013 {
  top: 43px;
  left: 129px;
}
.slotloc2014 {
  top: 86px;
  left: 129px;
}
.slotloc2015 {
  top: 129px;
  left: 129px;
}
.slotloc2016 {
  top: 0;
  left: 172px;
}
.slotloc2017 {
  top: 43px;
  left: 172px;
}
.slotloc2018 {
  top: 86px;
  left: 172px;
}
.slotloc2019 {
  top: 129px;
  left: 172px;
}
.slotloc2020 {
  top: 0;
  left: 215px;
}
.slotloc2021 {
  top: 43px;
  left: 215px;
}
.slotloc2022 {
  top: 86px;
  left: 215px;
}
.slotloc2023 {
  top: 129px;
  left: 215px;
}

/* ----------------------------------------------
         inventory slot images
------------------------------------------------- */
.slotimage0 {
  background-image: url(../images/slots/slot_0.gif);
}
.slotimage1 {
  background-image: url(../images/slots/slot_1.gif);
}
.slotimage2 {
  background-image: url(../images/slots/slot_2.gif);
}
.slotimage3 {
  background-image: url(../images/slots/slot_3.gif);
}
.slotimage4 {
  background-image: url(../images/slots/slot_4.gif);
}
.slotimage5 {
  background-image: url(../images/slots/slot_5.gif);
}
.slotimage6 {
  background-image: url(../images/slots/slot_6.gif);
}
.slotimage7 {
  background-image: url(../images/slots/slot_7.gif);
}
.slotimage8 {
  background-image: url(../images/slots/slot_8.gif);
}
.slotimage9 {
  background-image: url(../images/slots/slot_9.gif);
}
.slotimage10 {
  background-image: url(../images/slots/slot_10.gif);
}
.slotimage11 {
  background-image: url(../images/slots/slot_11.gif);
}
.slotimage12 {
  background-image: url(../images/slots/slot_12.gif);
}
.slotimage13 {
  background-image: url(../images/slots/slot_13.gif);
}
.slotimage14 {
  background-image: url(../images/slots/slot_14.gif);
}
.slotimage15 {
  background-image: url(../images/slots/slot_15.gif);
}
.slotimage16 {
  background-image: url(../images/slots/slot_16.gif);
}
.slotimage17 {
  background-image: url(../images/slots/slot_17.gif);
}
.slotimage18 {
  background-image: url(../images/slots/slot_18.gif);
}
.slotimage19 {
  background-image: url(../images/slots/slot_19.gif);
}
.slotimage20 {
  background-image: url(../images/slots/slot_20.gif);
}
.slotimage21 {
  background-image: url(../images/slots/slot_21.gif);
}
.slotimage {
  background-image: url(../images/slots/slot_.gif);
}